@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    background: black;
    
}

h1 {
    font-family: 'Comforter', cursive;
    text-align: center;
    font-size: 6em;
    background-image: linear-gradient(
        to right,
        #462523 0,
               #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
        );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

img {
    width: 100%;
}

section {
    background-color: black;
    padding: 2em;
}

.parallax_group {
    background: none;
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.parallax_layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}