@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --card-bg: linear-gradient(#101111, #101111);
    --gold-gradient: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    --bg-color: #0f0f0f
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    background: var(--bg-color);
}

h1 {
    padding: 10px;
    font-family: 'Comforter', cursive;
    text-align: center;
    font-size: 150px;
    background-image: var(--gold-gradient);
    background-position: 55%;
    background-size: 70%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    padding: 10px;
    font-family: 'Comforter', cursive;
    text-align: center;
    font-size: 100px;
    background-image: var(--gold-gradient);
    background-position: 55%;
    background-size: 60%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

section {
    background-color: var(--bg-color);
    padding: 50px;
    z-index: -1;
    position: relative;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 20px;
    z-index: 1;
    position: relative;
}

b {
    font-weight: 600;
}

.text_link {
    background-image: var(--gold-gradient);
    background-position: 40%;
    background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    white-space: nowrap;
    font-weight: 600;
}

.text_link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: var(--gold-gradient);
    background-position: 60%;
    background-size: 150%;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform-origin: left;
    transform: scaleX(0);
}

.text_link:hover::after,
.text_link:focus::after{
    opacity: 1;
    transform: scale(1);
}

.parallax_group {
    background: none;
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
}

.parallax_layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.card {
    background:
        var(--card-bg) content-box,
        var(--gold-gradient) padding-box,
        var(--card-bg) border-box;
    background-size: 180%;
    background-position: 40%;
    border-radius: 40px;
    border: 30px solid transparent;
    padding: 3px;
    box-shadow: 0 0 30px black;
    min-height: 200px;
    position: relative;
}

.card::before {
    content: '';
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    margin: 30px
}

.champaign::before {
    background-image: url(resources/sekt.svg);
}

.main_event::before {
    background-image: url(resources/mic.svg);
}

.food::before {
    background-image: url(resources/food.svg);
}

.party::before {
    background-image: url(resources/party.svg);
}

.pre_order::before {
    background-image: url(/resources/form.svg);
}

.payment::before {
    background-image: url(/resources/payment.svg);
}

.ticket::before {
    background-image: url(/resources/ticket.svg);
}

.location_description {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-120%);
    width: 400px;
}

.location_description::before {
    background-image: url(resources/location.svg);
}

.location_image {
    position: relative;
    transform: translateX(-50%);
    max-width: 90%;
    left: 50%;
    box-shadow: 0 0 30px 0px black;
    border-radius: 30px;
    transition: box-shadow .5s;
}

.location_image:hover {
    box-shadow: 0 0 100px 10px black;
}

.current_wrapper {
    top: -120px;
    position: absolute;
    transform: rotate(-.05turn);
}

.current_text {
    position: absolute;
    font-family: 'Comforter', cursive;
    font-size: 40px;
}

.current_arrow {
    position: absolute;
    width: 150px;
    left: 40px;
    top: 30px;
}

@media screen and (max-width: 1200px) {
    .location_description {
        top: auto;
        bottom: -170px;
        transform: translateX(-50%);
        width: 80%;
    }

    .location {
        padding-bottom: 190px
    }

    p {
        font-size: 25px;
    }

    .text_link::after {
        transform: scaleX(1);
        opacity: 1;
    }
}